.o-page--home {
  text-shadow: 0 0 20px #000;
}

.c-shoutout {
  font-size: 1.4rem;
}

.c-two-js {
  background: #111;
  bottom: 0;
  display: block;
  height: calc(100vh + 100px);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}
