.c-type {}

.c-type--page-title {
  font-size: 5rem;
  margin-bottom: 3rem;
  max-width: 30ch;
}

.c-type--lead {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  max-width: 50ch;
}

.c-type--caption {
  font-size: 0.8rem;
}
