:root {
  --base-font-size: 2rem;
  --palette-navy: #003554;
  --palette-blue: #00a6fb;
  --palette-green: #17c3b2;
  --palette-orange: #ffcb77;
  --palette-cream: #fef9ef;
  --palette-pink: #fe6d73;
  --palette-purple: #5a189a;
}
