:root {
  --palette-navy: #003554;
  --palette-blue: #00a6fb;
  --palette-green: #17C3B2;
  --palette-orange: #FFCB77;
  --palette-cream: #FEF9EF;
  --palette-pink: #FE6D73;
  --palette-purple: #5a189a;

  --base-font-size: 2rem;
}

html {
  background-color: var(--palette-cream);
  color: var(--palette-navy);
  font-size: 10px;
  margin: 0;
  min-height: calc(100vh - 10rem);
  min-height: -webkit-fill-available;
  padding: 5rem;
}

body {
  font-family: Inter, sans-serif;
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: 1.65;
  margin: 0;
  padding: 0;
}

a {
  color: var(--palette-blue);
}

a:visited {
  color: var(--palette-purple);
}

canvas {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.15;
  margin: 2.75rem 0 1.05rem;
}

h1 {
  font-size: 3.052rem;
  margin-top: 0;
}

h2 { font-size: 2.441rem; }
h3 { font-size: 1.953rem; }
h4 { font-size: 1.563rem; }
h5 { font-size: 1.25rem; }

p {
  margin-bottom: 1.15rem;
  max-width: 60ch;
}

.c-type--page-title {
  font-size: 5rem;
  margin-bottom: 3rem;
  max-width: 30ch;
}

.c-type--lead {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  max-width: 50ch;
}

.c-type--caption {
  font-size: 0.8em;
}
