html {
  background-color: #112;
}

.c-main {
  padding: 0;
}

@media screen and (min-width: 500px) {
  .c-main {
    padding: 0;
  }
}

@media screen and (min-width: 700px) {
  .c-main {
    padding: 0;
  }
}
